<div class="contenedor">
  <h2>Whack a mole!</h2>
<div class="contenedor__empiece">
  
  <h3>Your score: {{ score }}</h3>

  <h3>Seconds left: {{ tiempo }}</h3>
  
</div>
<button (click)="start()" class="contenedor__boton">Start</button>
    <div class="contenedor__juego">
      <div *ngFor="let fila of filas; let i = index" class="fila">
        <div *ngFor="let columna of columnas; let j = index" class="columna" (click)="puntuar(i,j)">
            <img src="{{topoImg}}" *ngIf="topo" >
            <img [src]="imgSrc[i][j]">
        </div>          
      </div>
    </div>

</div>
