.contenedor{
    background-color: #ffffff;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    border-radius: 3px;
    font-size: 1.5rem;
}

  .b-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
    height: 618px;
  }
  
  .b-mole {
    width: 90%;
  }

  .b-mole-bg.hidden {
    display: none;
  }
  
  .b-mole-bg{
    width: 200px;
    height: 200px;
    border: 3px solid #000000;
  }